// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
background: rgb(50, 17, 172);
font-size: 40px;
color: rgb(176, 235, 235);

}

p {
color: rgb(15, 85, 21);

}
input {
  color:red;
}
